.container {
  background-color: #ffffff17;
  display: flex;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menuBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  font-family: "LilitaOne";
  font-size: 3vw;
}

.menuLink {
  text-decoration: none;
  color: white;
}
