.contentBox {
  font-family: JockeyOne;
  font-size: 2vw;
  margin-top: 6vw;
  margin-bottom: 10vh;
}

.projectBox {
  margin: 10px calc(5vh + 3vw);
}

.detailBox {
  margin-top: 8vw;
  margin-bottom: 5vh;
  font-family: "Jua";
  font-size: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 3vw 5vh;
}

.detailHeader {
  display: flex;
  align-items: center;
}

.detailTag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  font-size: 1.8vw;
}

.detailText {
  font-family: "KleeOne";
  line-height: 2;
  font-size: 1.5vw;
  margin: 2vw 0vw;
}

.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
