.footer {
  background-color: rgba(112, 112, 112, 0.28);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerText {
  font-family: "Hubballi";
  font-size: clamp(0.5rem, 2vw, 1rem);
}
