@font-face {
  font-family: "Hubballi";
  font-weight: normal;
  src: url("./assets/fonts/Hubballi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JockeyOne";
  font-weight: normal;
  src: url("./assets/fonts/JockeyOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LilitaOne";
  font-weight: normal;
  src: url("./assets/fonts/LilitaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Margarine";
  font-weight: normal;
  src: url("./assets/fonts/Margarine-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Marvel";
  font-weight: normal;
  src: url("./assets/fonts/Marvel-Regular.ttf") format("truetype");
}
